.logo {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.input_login {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.login_btn {
    width: 100%;
    margin-bottom: 20px;
}

.register_btn {
    width: 100%;
}